<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
         
        
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

         <script src="https://cdn.jsdelivr.net/npm/handsontable@7.2.2/dist/handsontable.full.min.js"></script>
         <link href="https://cdn.jsdelivr.net/npm/handsontable@7.2.2/dist/handsontable.full.min.css" rel="stylesheet"
             media="screen">
        <%- include('includes/head.ejs') %>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <header>
            <h1>Get and Recieve Data</h1>
            <h2>Homepage</h2>
        </header>
        <main>
            <button id="get-data">Get Data</button><br><br>
            <% if (user) {%>
                
                <input placeholder="previousYear" id='previous-year' type="text">
                <input placeholder="LatestYear" id='latest-year' type="text">
                <button id="set-data">Insert Data</button>
            <%} %>

            <br><br>
            <div id="table-data"></div>
        </main>
        <% let getDataUrl="http://localhost:8000/get/data"; %>
        <%
        let setDataUrl; 
        if(user){
            setDataUrl="http://localhost:8000/set/data/"+user.googleId
        }else{
            setDataUrl='';
        }%>

        <script>
            $(document).ready(function(){
                $("#get-data").click(function(){
                    $.get("<%= getDataUrl %>",function (data,status) { 
                        var container = document.getElementById('table-data');
                        container.innerHTML='';
                        var hot = new Handsontable(container, {
                        data: data,
                        rowHeaders: true,
                        colHeaders: true,
                        filters: true,
                        dropdownMenu: true
                        });
                    });
                });
                $("#set-data").click(function(){
                    console.log('Button clicked');
                    let previousYear=$("#previous-year").val();
                    let latestYear=$("#latest-year").val();

                    $("#previous-year").val('');
                    $("#latest-year").val('');
                    
                    $.post("<%= setDataUrl %>",{
                        previousYear:previousYear,
                        latestYear:latestYear
                    },function (data,status) {
                        
                        var container = document.getElementById('table-data');
                        container.innerHTML='';
                        var hot = new Handsontable(container, {
                        data: data,
                        rowHeaders: true,
                        colHeaders: true,
                        filters: true,
                        dropdownMenu: true
                        });
                    });
                });
            });
        </script>
    </body>
</html>
